@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:popover-open {
  max-width: 70vw;
}

/* .anchor-button {
  anchor-name: --anchor-el;
}

.positioned-el {
  position-anchor: --anchor-el;
  top: anchor(bottom);
} */

#mobile-menu:popover-open {
  min-width: 200px;
  min-height: 100px;
  position: fixed;
  inset: unset;
  top: 90px;
  right: 25px;
  margin: 0;
}
